# Ignorar directorios de compilación
bin/
obj/

# Ignorar archivos de usuario y de configuración del entorno de desarrollo
*.user
*.sln
*.suo
*.csproj.user
*.csproj.nuget.g.props
*.csproj.nuget.g.targets

# Ignorar archivos de caché de Visual Studio
.vs/
.vscode/
.idea/

# Ignorar archivos de logs
*.log

# Ignorar archivos de prueba
TestResults/
*.Tests/

# Ignorar archivos de configuración específicos del entorno
appsettings.Development.json
appsettings.json

# Ignorar archivos temporales y de sistema
*.tmp
*.temp
*.bak
*.swp
.DS_Store
Thumbs.db

# Ignorar archivos de documentación
*.md
